/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Styling for the navigation menu */
nav ul {
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Styling for the main content */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

/* Styling for the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

footer#adressen {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
}
